In [26]:
import argparse
import copy
from gtfparse import read_gtf
import numpy as np
import pandas as pd

from fuc import pybed

from Bio import AlignIO
from Bio import SeqIO
from Bio.Seq import Seq
import re

# Create BED file for all DE isoforms

In [ ]:
# isoforms_df = read_gtf("../data/isoform_analysis/mm10.aligned.sorted_corrected.gtf")
isoforms_df = pd.read_csv("../data/isoform_analysis/mm10.aligned.sorted_corrected.gtf", sep="\t", header=None)
isoforms_df["transcript_id"] = isoforms_df[8].str.split(" ", expand=True)[1].str.split("\"", expand=True)[1]
isoforms_df.columns = ["seqname", "insname", "feature", "start", "end", "score", "strand", "score1", "info", "transcript_id"]
isoforms_df = isoforms_df[isoforms_df["feature"] == "transcript"]
isoforms_df = isoforms_df[["seqname", "start", "end", "strand", "transcript_id"]]
#Reorder columns to create a bed file. Also, make 0-based coordinates
isoforms_df["start"] = isoforms_df["start"] - 1
isoforms_df["end"] = isoforms_df["end"] - 1
isoforms_df.columns = ["Chromosome", "Start", "End", "Strand", "Isoform"]
isoforms_df["Category"] = 0
isoforms_df = isoforms_df[["Chromosome", "Start", "End", "Isoform", "Category", "Strand"]]
remove_chr = isoforms_df["Chromosome"].unique().tolist()[22:]
isoforms_df = isoforms_df[~isoforms_df["Chromosome"].isin(remove_chr)]
#Only keep DE isoforms
brf1_ctrl_inf = pd.read_csv("../data/DE_analysis/glaunsinger_Brf1_48hpi_v_Ctrl_48_DE_analysis_mm10.txt", sep="\s+")
de_transcripts = brf1_ctrl_inf[brf1_ctrl_inf["adj.P.Val"] <= 0.05]["Transcript"].unique().tolist()
isoforms_df = isoforms_df[isoforms_df["Isoform"].isin(de_transcripts)]
isoforms_df
bf = pybed.BedFrame.from_frame(meta=[], data=isoforms_df)
bf.to_file('../data/bed_files/coords_for_allDE_isoforms_ctrl48_brf148.bed')

# Create BED file for DE exons in isoforms

In [51]:
# isoforms_df = read_gtf("../data/isoform_analysis/mm10.aligned.sorted_corrected.gtf")
isoforms_df = pd.read_csv("../data/isoform_analysis/mm10.aligned.sorted_corrected.gtf", sep="\t", header=None)
isoforms_df["transcript_id"] = isoforms_df[8].str.split(" ", expand=True)[1].str.split("\"", expand=True)[1]
isoforms_df.columns = ["seqname", "insname", "feature", "start", "end", "score", "strand", "score1", "info", "transcript_id"]
isoforms_df = isoforms_df[isoforms_df["feature"] == "exon"]
isoforms_df = isoforms_df[["seqname", "start", "end", "strand", "transcript_id"]]
#Reorder columns to create a bed file. Also, make 0-based coordinates
isoforms_df["start"] = isoforms_df["start"] - 1
isoforms_df["end"] = isoforms_df["end"] - 1
isoforms_df.columns = ["Chromosome", "Start", "End", "Strand", "Isoform"]
isoforms_df["Category"] = 0
isoforms_df = isoforms_df[["Chromosome", "Start", "End", "Isoform", "Category", "Strand"]]
remove_chr = isoforms_df["Chromosome"].unique().tolist()[22:]
isoforms_df = isoforms_df[~isoforms_df["Chromosome"].isin(remove_chr)]
#Only keep DE isoforms
brf1_ctrl_inf = pd.read_csv("../data/DE_analysis/glaunsinger_Brf1_48hpi_v_Ctrl_48_DE_analysis_mm10.txt", sep="\s+")
de_transcripts = brf1_ctrl_inf[brf1_ctrl_inf["adj.P.Val"] <= 0.05]["Transcript"].unique().tolist()
isoforms_df = isoforms_df[isoforms_df["Isoform"].isin(de_transcripts)]
isoforms_df
# bf = pybed.BedFrame.from_frame(meta=[], data=isoforms_df)
# bf.to_file('../data/bed_files/exon_coords_for_DE_isoforms_ctrl48_brf148.bed')

        Chromosome     Start       End      Isoform  Category Strand
50323         chr1  55003174  55003204    PB.316.57         0      -
50324         chr1  55003292  55003489    PB.316.57         0      -
50325         chr1  55005801  55005922    PB.316.57         0      -
50326         chr1  55006170  55006382    PB.316.57         0      -
50327         chr1  55007479  55007716    PB.316.57         0      -
...            ...       ...       ...          ...       ...    ...
4451932       chrY   1023301   1023473  PB.23977.40         0      +
4451933       chrY   1028187   1028590  PB.23977.40         0      +
4455849       chrY  75606590  75609220   PB.24050.1         0      +
4455876       chrY  83165948  83167364   PB.24063.1         0      +
4455886       chrY  87029086  87030349   PB.24068.1         0      +

[2900 rows x 6 columns]

In [53]:
bf = pybed.BedFrame.from_frame(meta=[], data=isoforms_df)
bf.to_file('../data/bed_files/exon_coords_for_DE_isoforms_ctrl48_brf148.bed')

In [52]:
# brf1_ctrl_inf = pd.read_csv("../data/DE_analysis/glaunsinger_Brf1_48hpi_v_Ctrl_48_DE_analysis_mm10.txt", sep="\s+")
# de_transcripts = brf1_ctrl_inf.loc[(brf1_ctrl_inf["adj.P.Val"] <= 0.05) & ((brf1_ctrl_inf["logFC"] >= 1.5))]["Transcript"].unique().tolist()

# Create BED file for all introns in isoforms

In [55]:
junctions_df = pd.read_csv("../data/isoform_analysis/mm10.aligned.sorted_junctions.txt", sep="\s+")
junctions_df = junctions_df[["isoform", "chrom", "strand", "junction_number", "genomic_start_coord", 
                             "genomic_end_coord"]]
junctions_df["Junction"] = junctions_df["isoform"] + "_" + junctions_df["junction_number"]
#Only keep DE isoforms
brf1_ctrl_inf = pd.read_csv("../data/DE_analysis/glaunsinger_Brf1_48hpi_v_Ctrl_48_DE_analysis_mm10.txt", sep="\s+")
de_transcripts = brf1_ctrl_inf[brf1_ctrl_inf["adj.P.Val"] <= 0.05]["Transcript"].unique().tolist()
junctions_df = junctions_df[junctions_df["isoform"].isin(de_transcripts)]

junctions_df = junctions_df.drop(columns=["isoform", "junction_number"])
junctions_df.columns = ["Chromosome", "Strand", "Start", "End", "Junction"]
junctions_df["Start"] = junctions_df["Start"] - 1
junctions_df["End"] = junctions_df["End"] - 1
junctions_df["Category"] = 0
junctions_df = junctions_df[["Chromosome", "Start", "End", "Junction", "Category", "Strand"]]
junctions_df = junctions_df[~junctions_df["Chromosome"].isin(remove_chr)]
junctions_df
# bf = pybed.BedFrame.from_frame(meta=[], data=junctions_df)
# bf.to_file('../data/bed_files/intron_coords_for_DE_isoforms_ctrl48_brf148.bed')

,Chromosome,Start,End,Junction,Category,Strand
41844,chr1,55003205,55003291,PB.316.57_junction_1,0,-
41845,chr1,55003490,55005800,PB.316.57_junction_2,0,-
41846,chr1,55005923,55006169,PB.316.57_junction_3,0,-
41847,chr1,55006383,55007478,PB.316.57_junction_4,0,-
41848,chr1,55007717,55012100,PB.316.57_junction_5,0,-
...,...,...,...,...,...,...
3689165,chrY,1014792,1016055,PB.23977.40_junction_6,0,+
3689166,chrY,1016684,1017362,PB.23977.40_junction_7,0,+
3689167,chrY,1017508,1019984,PB.23977.40_junction_8,0,+
3689168,chrY,1020155,1023300,PB.23977.40_junction_9,0,+
3689169,chrY,1023474,1028186,PB.23977.40_junction_10,0,+

In [56]:
bf = pybed.BedFrame.from_frame(meta=[], data=junctions_df)
bf.to_file('../data/bed_files/intron_coords_for_DE_isoforms_ctrl48_brf148.bed')

# -------------------------Extract intact AB box B2 SINEs--------------------------

In [17]:
active_b2_df1 = pd.read_csv("../data/isoform_analysis/GSM2274627_BGJK003_all_B2_SINES_rpkm.txt", sep='\s+')
active_b2_df2 = pd.read_csv("../data/isoform_analysis/GSM2274628_BGJK005_all_B2_SINES_rpkm.txt", sep='\s+')
active_b2 = active_b2_df1.merge(active_b2_df2, on=["chrom", "start", "end", "strand", "length"])
active_b2["Average_RPKM"] = active_b2[["RPKM_x", "RPKM_y"]].mean(axis=1)
active_b2 = active_b2[["chrom", "start", "end", "strand", "Average_RPKM"]]
active_b2 = active_b2[active_b2["Average_RPKM"] >= 5]
active_b2["Name"] = "active_b2"
active_b2 = active_b2.rename(columns={"chrom": "Chromosome", "start": "Start", "end": "End", "strand": "Strand",
                                     "Average_RPKM": "Score"})
active_b2 = active_b2[["Chromosome", "Start", "End", "Name", "Score", "Strand"]]
active_b2

       Chromosome      Start        End       Name       Score Strand
2            chr1    3063370    3063529  active_b2  169.812951      -
46           chr1    4069693    4069850  active_b2    6.092839      -
49           chr1    4173454    4173632  active_b2    8.067949      -
51           chr1    4200994    4201177  active_b2   15.968930      +
53           chr1    4202363    4202566  active_b2    8.169802      +
...           ...        ...        ...        ...         ...    ...
366855       chrX  168649121  168649297  active_b2    7.776876      +
366862       chrX  168735132  168735291  active_b2   12.550832      +
366868       chrX  168788247  168788437  active_b2   14.658536      +
366948       chrX  169867459  169867618  active_b2   15.458246      -
367025       chrY     862023     862211  active_b2    7.905422      -

[45403 rows x 6 columns]

In [19]:
#Save active b2 as bed file
bf = pybed.BedFrame.from_frame(meta=[], data=active_b2)
bf.to_file('../data/bed_files/active_b2.bed')

In [36]:
def listToString(s): 
    
    # initialize an empty string
    str1 = "" 
    
    # traverse the string  
    for ele in s: 
        str1 += ele  
    
    # return string  
    return str1

In [37]:
def extract_AB_coord(df, idx, genome_seq):
    
    if df["strand"].iloc[idx] == "+":
        b2_seq = listToString(list(genome_seq[df["START"].iloc[idx]:df["STOP"].iloc[idx]]))
    else:
        b2_seq = listToString(list(genome_seq[df["START"].iloc[idx]:df["STOP"].iloc[idx]].reverse_complement()))
    try:
        A = re.search("T[A,G]G[C,T][A,C,G,T][A,C,G,T]A[A,G][A,C,G,T][A,C,G,T]G", b2_seq).start()
    except AttributeError:
        A = np.nan
    try:
        B = re.search("[A,G]GTTC[A,G]A[A,C,G,T]TCC", b2_seq).start()
    except AttributeError:
        B = np.nan
    
    if np.isnan(A) and np.isnan(B):
        return "mutated"
    elif A >= 0 and B >= 0:
        return "intact"

In [38]:
#Read in all genome sequences
chrom_in_df = all_b2["chrom"].unique().tolist()
chrom_dict = {}

for ch in chrom_in_df:
    chrom_dict[ch] = SeqIO.read("/Users/sahilshah/Documents/Rotations/Britt_Glaunsinger/archive_2021_12_03__08_19_08/mouse_genome/chromosomes/{}.fa".format(ch), 'fasta').seq.upper()

In [39]:
AB_status = []

for idx in range(len(all_b2)):
    #print(idx)
    chromosome = all_b2["chrom"].iloc[idx]
    genome_seq = chrom_dict[chromosome]
    AB_coord = extract_AB_coord(all_b2, idx, genome_seq)
    AB_status.append(AB_coord)
    
all_b2["AB_status"] = AB_status

In [40]:
all_b2 #NOTE: B2 with only one intact portion of the AB box is considered Neither mutated nor intact and we just throw
#them out

,chrom,START,STOP,strand,length,count,count(CPM),RPKM,AB_status
0,chr1,3013180,3013364,-,184,0,0.000000,0.00000,None
1,chr1,3050778,3050932,-,154,0,0.000000,0.00000,intact
2,chr1,3063370,3063529,-,159,145,23.904963,150.34568,intact
3,chr1,3114021,3114219,-,198,0,0.000000,0.00000,mutated
4,chr1,3118142,3118352,+,210,0,0.000000,0.00000,mutated
...,...,...,...,...,...,...,...,...,...
372918,chrY_JH584303_random,58186,58380,+,194,0,0.000000,0.00000,mutated
372919,chrY_JH584303_random,73058,73168,-,110,0,0.000000,0.00000,mutated
372920,chrY_JH584303_random,85023,85191,+,168,0,0.000000,0.00000,None
372921,chrY_JH584303_random,92003,92168,-,165,0,0.000000,0.00000,mutated
372922,chrY_JH584303_random,133892,134097,+,205,0,0.000000,0.00000,mutated

## Save active B2 with intact AB

In [44]:
intact_b2 = all_b2[all_b2["AB_status"] == "intact"]
#If I want B2 SINEs that are transcriptionally active according to SINE-seq paper, otherwise I want all B2 SINEs w/ intact AB boxes
# intact_b2 = intact_b2[intact_b2["RPKM"] >= 5]
intact_b2 = intact_b2.drop(columns=["length", "count", "count(CPM)", "RPKM", "AB_status"])
intact_b2["Score"] = 0
intact_b2["Name"] = "B2"
# intact_b2["START"] = intact_b2["START"] - 1
# intact_b2["STOP"] = intact_b2["STOP"] - 1
intact_b2 = intact_b2[["chrom", "START", "STOP", "Name", "Score", "strand"]]
intact_b2.columns = ["Chromosome", "Start", "End", "Name", "Score", "Strand"]
intact_b2

                  Chromosome     Start       End Name  Score Strand
1                       chr1   3050778   3050932   B2      0      -
2                       chr1   3063370   3063529   B2      0      -
50                      chr1   4200127   4200286   B2      0      -
68                      chr1   4478363   4478536   B2      0      -
79                      chr1   4572758   4572933   B2      0      -
...                      ...       ...       ...  ...    ...    ...
372847                  chrY  90453727  90453903   B2      0      -
372867                  chrY  90759897  90760086   B2      0      -
372869                  chrY  90791872  90792066   B2      0      -
372871                  chrY  90844253  90844442   B2      0      -
372885  chrY_JH584300_random    165258    165443   B2      0      +

[67244 rows x 6 columns]

In [46]:
#Intact B2
bf = pybed.BedFrame.from_frame(meta=[], data=intact_b2)
bf.to_file('bedtools_inputs/b2_w_intact_AB.bed')

In [54]:
#Create B2 bed file
all_b2 = pd.read_csv("bedtools_inputs/old_b2_files/all_b2_final.tsv", sep="\t", header=None)
all_b2 = all_b2[[5, 6, 7, 9, 10]].rename(columns={5: "Chromosome", 6: "Start", 7: "End", 9: "Strand",
                                                 10: "Name"})
all_b2["Score"] = 0
all_b2 = all_b2[["Chromosome", "Start", "End", "Name", "Score", "Strand"]]
bf = pybed.BedFrame.from_frame(meta=[], data=all_b2)
bf.to_file('bedtools_inputs/all_b2_final.bed')

# Extract isoform UTR coordinates

## Read in file containing TSS and TTS coordinates

In [68]:
UTR_coords_df = pd.read_csv("../data/DE_analysis/mm10.aligned.sorted_classification.txt", sep="\s+")
UTR_coords_df = UTR_coords_df[["chrom", "CDS_genomic_start",  "CDS_genomic_end", "isoform", "strand"]]
UTR_coords_df["Score"] = 0
UTR_coords_df = UTR_coords_df[["chrom", "CDS_genomic_start",  "CDS_genomic_end", "isoform", "Score", "strand"]]
#Only keep DE isoforms
brf1_ctrl_inf = pd.read_csv("../data/DE_analysis/glaunsinger_Brf1_48hpi_v_Ctrl_48_DE_analysis_mm10.txt", sep="\s+")
de_transcripts = brf1_ctrl_inf[brf1_ctrl_inf["adj.P.Val"] <= 0.05]["Transcript"].unique().tolist()
UTR_coords_df = UTR_coords_df[UTR_coords_df["isoform"].isin(de_transcripts)]

UTR_coords_df.columns = ["Chromosome", "CDS_Start", "CDS_End", "Name", "Score", "Strand"]
UTR_coords_df

        Chromosome    CDS_Start      CDS_End         Name  Score Strand
2       GL456212.1          NaN          NaN   PB.24087.1      0      +
65      JH584299.1          NaN          NaN   PB.24097.1      0      +
849     KK082442.1     142719.0     142354.0  PB.24142.42      0      -
1105    KQ030494.1      93892.0     115515.0   PB.24270.2      0      +
2911          chr1  150100224.0  150105782.0   PB.1006.28      0      +
...            ...          ...          ...          ...    ...    ...
383780        chrX          NaN          NaN   PB.23959.3      0      -
384304        chrY    1010617.0    1016379.0  PB.23977.40      0      +
384588        chrY          NaN          NaN   PB.24050.1      0      +
384601        chrY          NaN          NaN   PB.24063.1      0      +
384606        chrY   87029310.0   87029726.0   PB.24068.1      0      +

[477 rows x 6 columns]

In [69]:
#UTR_coords_df.columns.tolist()

In [70]:
isoforms_df = pd.read_csv("../data/isoform_analysis/mm10.aligned.sorted_corrected.gtf", sep="\t", header=None)
isoforms_df["transcript_id"] = isoforms_df[8].str.split(" ", expand=True)[1].str.split("\"", expand=True)[1]
isoforms_df.columns = ["seqname", "insname", "feature", "start", "end", "score", "strand", "score1", "info", "transcript_id"]
#Only keep DE isoforms
brf1_ctrl_inf = pd.read_csv("../data/DE_analysis/glaunsinger_Brf1_48hpi_v_Ctrl_48_DE_analysis_mm10.txt", sep="\s+")
de_transcripts = brf1_ctrl_inf[brf1_ctrl_inf["adj.P.Val"] <= 0.05]["Transcript"].unique().tolist()
isoforms_df = isoforms_df[isoforms_df["transcript_id"].isin(de_transcripts)]

isoforms_df = isoforms_df[["seqname", "feature", "start", "end", "transcript_id", "strand"]]
isoforms_df["Score"] = 0
isoforms_df = isoforms_df[["seqname", "feature", "start", "end", "transcript_id", "Score", "strand"]]
isoforms_df = isoforms_df[isoforms_df["feature"] == "transcript"]
isoforms_df = isoforms_df.drop(columns=["feature"])
isoforms_df.columns = ["Chromosome", "Transcript_Start", "Transcript_End", "Name", "Score", "Strand"]
isoforms_df

,Chromosome,Transcript_Start,Transcript_End,Name,Score,Strand
50322,chr1,55003175,55027395,PB.316.57,0,-
75210,chr1,74288252,74304619,PB.468.7,0,-
94407,chr1,84034264,84284599,PB.558.4,0,-
126881,chr1,91053479,91115530,PB.654.62,0,+
128768,chr1,91453766,91459301,PB.666.13,0,-
...,...,...,...,...,...,...
4455885,chrY,87029087,87030350,PB.24068.1,0,+
4456545,GL456212.1,82189,84538,PB.24087.1,0,+
4456954,JH584299.1,935049,936476,PB.24097.1,0,+
4462451,KK082442.1,141292,142839,PB.24142.42,0,-
4474510,KQ030494.1,93088,115814,PB.24270.2,0,+

In [71]:
#isoforms_df["Chromosome"].unique().tolist()
chroms = ['chr1',
 'chr2',
 'chr3',
 'chr4',
 'chr5',
 'chr6',
 'chr7',
 'chr8',
 'chr9',
 'chr10',
 'chr11',
 'chr12',
 'chr13',
 'chr14',
 'chr15',
 'chr16',
 'chr17',
 'chr18',
 'chr19',
 'chrX',
 'chrY']

In [72]:
UTR_coords_df.merge(isoforms_df, on=["Chromosome", "Name", "Score", "Strand"], how="left")

,Chromosome,CDS_Start,CDS_End,Name,Score,Strand,Transcript_Start,Transcript_End
0,GL456212.1,NaN,NaN,PB.24087.1,0,+,82189,84538
1,JH584299.1,NaN,NaN,PB.24097.1,0,+,935049,936476
2,KK082442.1,142719.0,142354.0,PB.24142.42,0,-,141292,142839
3,KQ030494.1,93892.0,115515.0,PB.24270.2,0,+,93088,115814
4,chr1,150100224.0,150105782.0,PB.1006.28,0,+,150100100,150105919
...,...,...,...,...,...,...,...,...
472,chrX,NaN,NaN,PB.23959.3,0,-,167207095,167209161
473,chrY,1010617.0,1016379.0,PB.23977.40,0,+,1010608,1028591
474,chrY,NaN,NaN,PB.24050.1,0,+,75606591,75609221
475,chrY,NaN,NaN,PB.24063.1,0,+,83165949,83167365
476,chrY,87029310.0,87029726.0,PB.24068.1,0,+,87029087,87030350

In [73]:
UTR_coords_df.merge(isoforms_df, on=["Chromosome", "Name", "Score", "Strand"], how="left").dropna()

,Chromosome,CDS_Start,CDS_End,Name,Score,Strand,Transcript_Start,Transcript_End
2,KK082442.1,142719.0,142354.0,PB.24142.42,0,-,141292,142839
3,KQ030494.1,93892.0,115515.0,PB.24270.2,0,+,93088,115814
4,chr1,150100224.0,150105782.0,PB.1006.28,0,+,150100100,150105919
5,chr1,153740469.0,153743855.0,PB.1057.2,0,+,153740353,153745464
6,chr1,153902947.0,153908182.0,PB.1064.20,0,+,153899946,153908283
...,...,...,...,...,...,...,...,...
469,chrX,10718230.0,10718778.0,PB.23410.1,0,+,10715027,10719693
470,chrX,56455488.0,56506988.0,PB.23557.25,0,+,56454880,56507834
471,chrX,140542967.0,140540868.0,PB.23840.13,0,-,140539537,140543385
473,chrY,1010617.0,1016379.0,PB.23977.40,0,+,1010608,1028591
476,chrY,87029310.0,87029726.0,PB.24068.1,0,+,87029087,87030350

In [74]:
UTR_coords_df = UTR_coords_df.merge(isoforms_df, on=["Chromosome", "Name", "Score", "Strand"], how="left").dropna()

#5' UTR
five_prime_UTR_df = UTR_coords_df[["Chromosome", "Transcript_Start", "Transcript_End", "CDS_Start", "Name", "Score", "Strand"]]
five_prime_pos = five_prime_UTR_df[five_prime_UTR_df["Strand"] == "+"]
#Make zero-based first and then move one base pair away from CDS start
five_prime_pos["CDS_Start"] = five_prime_pos["CDS_Start"] - 1 - 1
five_prime_pos = five_prime_pos.drop(columns=["Transcript_End"])
five_prime_pos["Transcript_Start"] = five_prime_pos["Transcript_Start"] - 1
five_prime_pos.columns = ["Chromosome", "Start", "End", "Name", "Score", "Strand"]

five_prime_neg = five_prime_UTR_df[five_prime_UTR_df["Strand"] == "-"]
five_prime_neg["CDS_Start"] = five_prime_neg["CDS_Start"] - 1 + 1
five_prime_neg = five_prime_neg.drop(columns=["Transcript_Start"])
five_prime_neg = five_prime_neg[["Chromosome", "CDS_Start", "Transcript_End", "Name", "Score", "Strand"]]
five_prime_neg["Transcript_End"] = five_prime_neg["Transcript_End"] - 1
five_prime_neg.columns = ["Chromosome", "Start", "End", "Name", "Score", "Strand"]
five_prime_UTR_df = pd.concat([five_prime_pos, five_prime_neg])
five_prime_UTR_df = five_prime_UTR_df[five_prime_UTR_df['Chromosome'].isin(chroms)]
five_prime_UTR_df = five_prime_UTR_df.drop(five_prime_UTR_df[five_prime_UTR_df.End < five_prime_UTR_df.Start].index)

#3' UTR
three_prime_UTR_df = UTR_coords_df[["Chromosome", "CDS_End", "Transcript_Start", "Transcript_End", "Name", "Score", "Strand"]]
three_prime_pos = three_prime_UTR_df[three_prime_UTR_df["Strand"] == "+"]
three_prime_pos["CDS_End"] = three_prime_pos["CDS_End"] - 1 + 1
three_prime_pos = three_prime_pos.drop(columns=["Transcript_Start"])
three_prime_pos["Transcript_End"] = three_prime_pos["Transcript_End"] - 1
three_prime_pos.columns = ["Chromosome", "Start", "End", "Name", "Score", "Strand"]

three_prime_neg = three_prime_UTR_df[three_prime_UTR_df["Strand"] == "-"]
three_prime_neg["CDS_End"] = three_prime_neg["CDS_End"] - 1 - 1
three_prime_neg = three_prime_neg.drop(columns=["Transcript_End"])
three_prime_neg = three_prime_neg[["Chromosome", "Transcript_Start", "CDS_End", "Name", "Score", "Strand"]]
three_prime_neg["Transcript_Start"] = three_prime_neg["Transcript_Start"] - 1
three_prime_neg.columns = ["Chromosome", "Start", "End", "Name", "Score", "Strand"]
three_prime_UTR_df = pd.concat([three_prime_pos, three_prime_neg])
three_prime_UTR_df = three_prime_UTR_df[three_prime_UTR_df['Chromosome'].isin(chroms)]
three_prime_UTR_df = three_prime_UTR_df.drop(three_prime_UTR_df[three_prime_UTR_df.End < three_prime_UTR_df.Start].index)

/var/folders/hh/vsrq3q5n43zfc6yq4n6bx5n80000gn/T/ipykernel_99052/3728839765.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  five_prime_pos["CDS_Start"] = five_prime_pos["CDS_Start"] - 1 - 1
/var/folders/hh/vsrq3q5n43zfc6yq4n6bx5n80000gn/T/ipykernel_99052/3728839765.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  five_prime_neg["CDS_Start"] = five_prime_neg["CDS_Start"] - 1 + 1
/var/folders/hh/vsrq3q5n43zfc6yq4n6bx5n80000gn/T/ipykernel_99052/3728839765.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  three_prime_pos["CDS_End"] = three_prime_pos["CDS_End"] - 1 + 1
/var/folders/hh/vsrq3q5n43zfc6yq4n6bx5n80000gn/T/ipykernel_99052/3728839765.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  three_prime_neg["CDS_End"] = three_prime_neg["CDS_End"] - 1 - 1

In [75]:
five_prime_UTR_df

    Chromosome        Start          End         Name  Score Strand
4         chr1  150100099.0  150100222.0   PB.1006.28      0      +
5         chr1  153740352.0  153740467.0    PB.1057.2      0      +
6         chr1  153899945.0  153902945.0   PB.1064.20      0      +
10        chr1  171329617.0  171338314.0   PB.1242.16      0      +
18        chr1   91053478.0   91053656.0    PB.654.62      0      +
..         ...          ...          ...          ...    ...    ...
464       chr9  111056428.0  111057427.0  PB.12944.27      0      -
466       chrX   12061607.0   12080552.0  PB.23409.12      0      -
467       chrX   12061607.0   12080552.0  PB.23409.34      0      -
468       chrX   12061607.0   12081267.0  PB.23409.39      0      -
471       chrX  140542967.0  140543384.0  PB.23840.13      0      -

[424 rows x 6 columns]

In [76]:
three_prime_UTR_df

    Chromosome        Start          End         Name  Score Strand
4         chr1  150105782.0  150105918.0   PB.1006.28      0      +
5         chr1  153743855.0  153745463.0    PB.1057.2      0      +
6         chr1  153908182.0  153908282.0   PB.1064.20      0      +
10        chr1  171341204.0  171341681.0   PB.1242.16      0      +
18        chr1   91112377.0   91115529.0    PB.654.62      0      +
..         ...          ...          ...          ...    ...    ...
464       chr9  111055177.0  111055344.0  PB.12944.27      0      -
466       chrX   12036742.0   12037624.0  PB.23409.12      0      -
467       chrX   12037325.0   12037624.0  PB.23409.34      0      -
468       chrX   12037325.0   12037624.0  PB.23409.39      0      -
471       chrX  140539536.0  140540866.0  PB.23840.13      0      -

[428 rows x 6 columns]

In [77]:
bf = pybed.BedFrame.from_frame(meta=[], data=five_prime_UTR_df)
bf.to_file('../data/bed_files/DE_isoforms_5_prime_coords_ctrl48_brf148.bed')

bf = pybed.BedFrame.from_frame(meta=[], data=three_prime_UTR_df)
bf.to_file('../data/bed_files/DE_isoforms_3_prime_coords_ctrl48_brf148.bed')

In [78]:
isoforms_df

,Chromosome,Transcript_Start,Transcript_End,Name,Score,Strand
50322,chr1,55003175,55027395,PB.316.57,0,-
75210,chr1,74288252,74304619,PB.468.7,0,-
94407,chr1,84034264,84284599,PB.558.4,0,-
126881,chr1,91053479,91115530,PB.654.62,0,+
128768,chr1,91453766,91459301,PB.666.13,0,-
...,...,...,...,...,...,...
4455885,chrY,87029087,87030350,PB.24068.1,0,+
4456545,GL456212.1,82189,84538,PB.24087.1,0,+
4456954,JH584299.1,935049,936476,PB.24097.1,0,+
4462451,KK082442.1,141292,142839,PB.24142.42,0,-
4474510,KQ030494.1,93088,115814,PB.24270.2,0,+

## Extract promoter coordinates

In [79]:
promoter_df = isoforms_df[["Chromosome", "Transcript_Start", "Transcript_End", "Name", "Score", "Strand"]]

promoter_pos = promoter_df[promoter_df["Strand"] == "+"]
promoter_pos["Transcript_Start"] = promoter_pos["Transcript_Start"] - 1
promoter_pos["Start"] = promoter_pos["Transcript_Start"] - 4000
promoter_pos = promoter_pos[["Chromosome", "Start", "Transcript_Start", "Name", "Score", "Strand"]]
promoter_pos.columns = ["Chromosome", "Start", "End", "Name", "Score", "Strand"]

promoter_neg = promoter_df[promoter_df["Strand"] == "-"]
promoter_neg["Transcript_End"] = promoter_neg["Transcript_End"] - 1
promoter_neg["End"] = promoter_neg["Transcript_End"] + 4000
promoter_neg = promoter_neg[["Chromosome", "Transcript_End", "End", "Name", "Score", "Strand"]]
promoter_neg.columns = ["Chromosome", "Start", "End", "Name", "Score", "Strand"]

promoter_df = pd.concat([promoter_pos, promoter_neg])
promoter_df = promoter_df[promoter_df['Chromosome'].isin(chroms)]
promoter_df = promoter_df.drop(promoter_df[promoter_df.End < promoter_df.Start].index)
promoter_df

/var/folders/hh/vsrq3q5n43zfc6yq4n6bx5n80000gn/T/ipykernel_99052/686762972.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  promoter_pos["Transcript_Start"] = promoter_pos["Transcript_Start"] - 1
/var/folders/hh/vsrq3q5n43zfc6yq4n6bx5n80000gn/T/ipykernel_99052/686762972.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  promoter_pos["Start"] = promoter_pos["Transcript_Start"] - 4000
/var/folders/hh/vsrq3q5n43zfc6yq4n6bx5n80000gn/T/ipykernel_99052/686762972.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  promoter_neg["Transcript_End"] = promoter_neg["Transcript_End"] - 1
/var/folders/hh/vsrq3q5n43zfc6yq4n6bx5n80000gn/T/ipykernel_99052/686762972.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  promoter_neg["End"] = promoter_neg["Transcript_End"] + 4000

        Chromosome      Start        End         Name  Score Strand
126881        chr1   91049478   91053478    PB.654.62      0      +
145587        chr1  107586031  107590031    PB.756.22      0      +
192874        chr1  150096099  150100099   PB.1006.28      0      +
207160        chr1  153736352  153740352    PB.1057.2      0      +
208273        chr1  153895945  153899945   PB.1064.20      0      +
...            ...        ...        ...          ...    ...    ...
4322929       chrX   12080552   12084552  PB.23409.12      0      -
4323372       chrX   12080552   12084552  PB.23409.34      0      -
4323448       chrX   12081267   12085267  PB.23409.39      0      -
4419858       chrX  140543384  140547384  PB.23840.13      0      -
4447738       chrX  167209160  167213160   PB.23959.3      0      -

[473 rows x 6 columns]

In [80]:
bf = pybed.BedFrame.from_frame(meta=[], data=promoter_df)
bf.to_file('../data/bed_files/DE_isoforms_promoter_up4kb_coords_ctrl48_brf148.bed')